
{% extends 'agendaFinanceiraApp/base.html' %}

{% block content %}
<div class="container">
    <h1>Lista de Clientes Cadastrados</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
				<th>Telefone</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            {% for usuario in cadastros %}
			
            <tr>
                <td>{{ usuario.nm_cliente }}</td>
                <td>{{ usuario.endereco }}</td>
				<td>{{ usuario.telefone }}</td>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}