
{% extends 'agendaFinanceiraApp/base.html' %}

{% block content %}
<div class="container">
    <h1>Lista de Despesas Cadastradas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
				<th>Data vencimento</th>
                <th>Data de Criação</th>
                <th>Situacao</th>
                <th>Modo de pagamento</th>
                <th>Tipo de Despesa</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            {% for usuario in cadastros %}
			
            <tr>
                <td>{{ usuario.nome_credor }}</td>
                <td>{{ usuario.valor }}</td>
				<td>{{ usuario.data_vencimento }}</td>
                <td>{{ usuario.created_at }}</td>
                <td>{{ usuario.situacao }}</td>
                <td>{{ usuario.modo_pag }}</td>
                <td>{{ usuario.tipo_despesa }}</td>

                <!-- Adicione mais colunas conforme necessário -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}