{% extends 'agendaFinanceiraApp/base.html' %}

{% block content %}
<div class="container">
    <h1>Lista de receitas Lançadas</h1>
    <input type="text" id="searchInput" placeholder="Pesquisar">
    <table class="table">
        <thead>
            <tr>
                <th>Nome Pagador</th>
                <th>Valor</th>
                <th>Data do pagamento</th>
                <th>Data de Criação</th>
                <th>Situacao</th>
                <th>Forma de recebimento</th>
                <th>Tipo de recebimento</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            {% for usuario in cadastros %}
            <tr>
                <td>{{ usuario.nome_pagador }}</td>
                <td>{{ usuario.valor }}</td>
                <td>{{ usuario.data_entrada }}</td>
                <td>{{ usuario.created_at }}</td>
                <td>{{ usuario.situacao }}</td>
                <td>{{ usuario.forma_recebimento }}</td>
                <td>{{ usuario.tipo_recebimento }}</td>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById("searchInput").addEventListener("input", function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector(".table");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0]; // Change the index to the column you want to filter
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    });
</script>

{% endblock content %}
