
{% extends 'agendaFinanceiraApp/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Cadastro de contas a pagar</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12 ">
		<form method="post" class="cadastro-form">{% csrf_token %}
			<div class="form-group">	
				{{ form.as_p }}
			</div>
			<button type="submit" class="btn btn-primary" onclick="return validarValor()">Cadastrar</button>
		</form>
	</div>
</div>

{% endblock content %}