<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Despesa</title>
    <!-- Adicione os links para os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Cadastrar Despesa</h2>
    <form method="post">
        {% csrf_token %} <!-- Use isso para evitar problemas de segurança -->
        <div class="form-group">
            <label for="valor">Valor:</label>
            <input type="number" class="form-control" id="valor" name="valor" required>
        </div>
        <div class="form-group">
            <label for="data_vencimento">Data de Vencimento:</label>
            <input type="date" class="form-control" id="data_vencimento" name="data_vencimento" required>
        </div>
        <div class="form-group">
            <label for="{{ form.nome_credor.id_for_label }}">Nome do Credor:</label>
            {{ form.nome_credor }}
        </div>
        <div class="form-group">
            <label for="situacao">Situação:</label>
            <select class="form-control" id="situacao" name="situacao" required>
                <option value="AB">Aberto</option>
                <option value="PG">Pago</option>
            </select>
        </div>
        <div class="form-group">
            <label for="observacoes">Observações:</label>
            <textarea class="form-control" id="observacoes" name="observacoes" rows="3"></textarea>
        </div>
        <!-- Adicione os campos restantes conforme necessário -->
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<!-- Adicione os scripts do Bootstrap e jQuery no final da página -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
